<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeaoz5apbXMN6yutGg1_AgV0D1BK3Meoc</string>
	<key>GCM_SENDER_ID</key>
	<string>719042091879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gr.selini.nestymate-ios</string>
	<key>PROJECT_ID</key>
	<string>nestymate</string>
	<key>STORAGE_BUCKET</key>
	<string>nestymate.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719042091879:ios:ecf9973bae13a2c8bcedc2</string>
</dict>
</plist>